<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <!--ユーザー情報-->
      <%= render 'info', user: @user %>
      <!--本の投稿機能-->
      <%= render 'posts/new', post: @post %>
    </div>

    <div class="col-md-8 offset-md-1">
      <!--ユーザーが投稿した本の一覧機能-->
      <%= render 'posts/index', posts: @posts %>
    </div>
  </div>
</div>