<div class="container">
    <div class="row">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 my-5">
        <h1 class="text-center my-4">ようこそ <strong>推し活</strong>へ!</h1>
        <p class="text-center">推し活は、新しい音楽を見つけたり、</p>
        <p class="text-center">アーティストのライブやグッズなどのレビューを投稿したり閲覧したりできる</p>
        <p class="text-center">レビューコミュニティサイトです。</p>
      </div>
    </div>
</div>