<div>
  <h1>ようこそ<strong>Oshikatsu</strong>へ!!</h1>
  <p>推しについて話したい人も、推しがまだいない人も、今の気分に合った曲を探したい人も音楽好きのためのサイト</p>
  <p>o s h i k a t s u</p>
  <div>
    <div><%= link_to "Log in", new_user_session_path %></div>
    <div><%= link_to "Sign up", new_user_registration_path %></div>
  </div>
</div>