<div class="container">
  <div class="row">
    <div class="mx-auto">
      
      <h1 class="text-center my-5"> ようこそ <strong>推し活</strong> へ!!</h1>

      <div class="btn-wrapper mx-auto col-10">
        <div class="row">
          <%= link_to "Log in", new_user_session_path, class: "btn btn-sm btn-info btn-block mb-3" %>
        </div>
        <div class="row">
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-sm btn-success btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>