<div class="container px-5 px-sm-0">
    <%= render 'layouts/error', obj: @post %>
    <div class="row">
      <div class="col-md-3">
        <%= render 'users/info', user: @user %>
        <%= render 'new', post: @post %>
      </div>
          
      <div class="col-md-8 offset-md-1">
        <%= render 'index', posts: @posts %>
      </div>
    </div>
</div>